@import "footer.css";
@import "diary__archive.css";

img {
  width: 100%;
}

h3 {
  padding: 2px 0 3px 0;
}
.name {
  text-align: right;
  margin-right: 6em;
  font-size: .8em;
  font-style: italic;
}

body {
  background-image: url("https://images.unsplash.com/photo-1491902761018-cac1cd4df4ae?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=400&q=60");
  background-color: rgb(216, 165, 165);
  background-blend-mode: screen;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__main {
  margin: 2em 6em 2em 6em;
  
}



.form__element--entry {
  
  height: 10em;
}

button {
  /* margin-left: 170px; */
  border-radius: 8px;
  width: 100px;
}

button:hover {
  background-color: grey;
}

#mood {
  width: 175px;
  margin-bottom: 1em;
}

#entryID {
  margin-bottom: 1em;
}

#today {
  width: 175px;
  margin-bottom: 1em;
}

#concepts {
  width: 175px;
  margin-bottom: 1em;
}

.journalEntry {
  margin-bottom: 20px;
}

.diary {
  padding: 30px 0 10px 30px;
  
}

.filters {
  padding: 10px;
  margin: 2em 6em 2em 6em;
}

.moodF {
  list-style-type: none;
}

.filterBox {
  border: black solid 1px;
  background-color: white;
  padding: 0 0 0 20px;
  
}

h3 {
  font-weight: bold;
  text-align: center;
}



