@import "footer.css";
@import "diary__archive.css";

img {
  width: 100%;
}

.name {
  text-align: right;
  margin-right: 6em;
  font-size: .8em;
  font-style: italic;
}

body {
  background-color: pink;
  font-size: 20px;
  font-family: 'Roboto', sans-serif;
  color: black;
}

.form {
  display: flex;
  flex-direction: column;
}

.form__main {
  margin: 3em 0 3em 4em;
}

textarea {
  width: 600px;
  height: 150px;
}

button {
  /* margin-left: 170px; */
  border-radius: 8px;
  width: 100px;
}

button:hover {
  background-color: grey;
}

#mood {
  width: 175px;
  margin-bottom: 1em;
}

#entryID {
  margin-bottom: 1em;
}

#today {
  width: 175px;
  margin-bottom: 1em;
}

#concepts {
  width: 175px;
  margin-bottom: 1em;
}